<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ReviewMapper">
    <select id="reviewAll" resultType="reviewDTO" parameterType="int">
        SELECT * FROM review
        INNER JOIN user
        ON review.user_id=user.id
        WHERE movie_id=#{movieId}
        ORDER BY review.id DESC
    </select>

    <insert id="insert" parameterType="reviewDTO">
        INSERT INTO review(user_id, movie_id, content)
        VAlUES(#{userId}, #{movieId} , #{content})
    </insert>

    <select id="validateUserid" parameterType="reviewDTO" resultType="reviewDTO">
        SELECT * FROM review
        WHERE user_id=#{userId} AND movie_id=#{movieId}
    </select>

    <update id="update" parameterType="reviewDTO">
        UPDATE review
        SET content=#{content}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM review
        WHERE id=#{id}
    </delete>
</mapper>