<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- DB에 표기법과 JAVA에 표기법이 다르기 때문에 설정해줘야한다. -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.example.moviebackend.model.ScopeDTO" alias="scopeDTO"/>
        <typeAlias type="com.example.moviebackend.model.ReviewDTO" alias="reviewDTO"/>
        <typeAlias type="com.example.moviebackend.model.MovieDTO" alias="movieDTO"/>
        <typeAlias type="com.example.moviebackend.model.UserDTO" alias="userDTO"/>
    </typeAliases>

</configuration>